@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,521&display=swap');

html {
	scroll-behavior: smooth;
}

/*Formatando os cabeçalhos*/
#cabecalho{;
	background-color: #a7ccc2;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding: 10px;
	background-size: 100%;
}

#cabecalho .conteudo-cabecalho {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Formatando o menu*/
nav#menu {
	width: 20%;
	display: block;
	font-family: "Century Gothic";
	font-size: 14px;
	background-size: 100%;
}
nav#menu ul{
	font-family: "Century Gothic";
	list-style: none;
	text-transform: uppercase;
	color: white;
	background-size: 100%;
}
nav#menu li{
	font-family: "Century Gothic";
	text-align: center;
	padding: 10px;
	background-color: #c3c3c3;
	transition: background-color .7s;

}
nav#menu li:hover{
	background-color: #2e8abf;
}
nav#menu h2{
	display: none;
}

nav#menu-abas{
	margin-top: 30px;
	font-family: 'Lato', sans-serif;
	font-size:12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav#menu-abas ul{
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}

nav#menu-abas li {
	margin: 5px;
	width: 70px;
	font-weight: bolder;
	border-radius: 50px;
	display: inline-block;
	padding: 15px 20px;
	cursor: pointer;
	transition: background-color .7s;
}

.active {
	background-color:#FF8C00 !important;
	color: #fff !important;
}

nav#menu-abas li:hover{
	background-color:#FF8C00;
}

nav#menu-abas li.index{
	background-color:red;
}

nav#menu-abas a {
	color:#606060;
}


h1{
	font-family: 'Indie Flower', cursive;
	font-size: 38pt;
	color: #606060;
	margin: 1px;
	text-align: center;
}
h2{
	font-family: 'Indie Flower', cursive;
	font-size: 24pt;
	color: #606060;
	text-align: left;
} 
h3{
	font-family: 'Indie Flower', cursive;
	font-size: 18pt;
	color: #606060;
	text-align: left;
} 

.titulo-exemplos{
	margin-bottom: 5px;
	font-family: "Century Gothic";

}

/* Formatando links */

a.links {
	color:blue;
	font-weight: bolder;
	text-decoration: underline;
}

/*Formatando os visuais*/
body{
	background-color: #dddddd;
	margin-left: 15px;
	margin-right: 15px;
}
hr{
	border-color: none;
	height: 1px;
}
html{
	overflow-x: hidden;
	
}
/*Formatando as imagens*/

figure.fotoAbertura {
	position: relative;
	box-sizing: border-box;
	
}

figure.fotoAbertura figcaption{
	box-sizing: border-box;
    opacity: 0;
	position: absolute;
	bottom: 4px;
	right: 0;
	left: 0;
    background-color: rgba(0,0,0,0.1);
	color: white;
	padding-left: 10px;
    width: 100%;
    height: 60px;
    transition: opacity 0.5s;
    background-size: 10%;

}
figure.fotoAbertura:hover figcaption{
	opacity: 1;
}
figure.fotoAbertura p{
	font-family: 'Indie Flower', cursive;
	color: white;
	text-indent: 0px;
	font-size: 11pt;
	font-weight: bold;
	background-size: 100%;
}

figure#exemplo-img img{
	float:left;
	width: 100px
}


/*Formatando os textos*/
p{
	font-family: "Century Gothic";
	font-size: 16px;
	color: #245080;
	text-align: justify;
	text-indent: 50px;
}
b{
	color: #2885bf
}
i{
	color: #2885bf
}
a{
	color: white;
	text-decoration: none;
}


/*Formatando as seções*/

section#introducao {
	display: block;
	width: 900px;
	padding: 20px;
	margin:0px auto 30px auto;
	background-size: 100%;
}
section#estruturas {
	display: block;
	width: 550px;
	float: right;
	padding: 20px;
	margin:0px 0px 10px 10px;
	background-size: 100%;
}

/*Formatando os rodapés*/

footer{
	clear: both;
	border-top: 1px solid #2e8abf;
	margin-top: 20px;
}
footer#rodape p{
	text-align: center;
	font-weight: bold;
	background-size: 100%;
}

/*Formatando áreas de código*/
.formatacaoAreaCodigo{
	display: block;
	color: #fff;
	width: 100%;
	font-size: 14px;
	background-color: darkslategray;
	padding: 0px 10px 0px 10px;
	margin:0px auto 0px auto;
	font-family: 'Muli', sans-serif;

}

.form-exemplo {
	border-bottom: 1px solid #606060;
	padding-bottom: 5px;
}

/*Formatando tabelas*/
table#tabela-tags {
	margin:0px auto 0px auto;
}

table#tabela-tags caption{
	font-family: 'Indie Flower', cursive;
	color: #606060;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
table#tabela-tags td.inicio{
	font-family: "Century Gothic";
	font-size: 16px;
	background: black;
	color: white;
	padding: 8px;
	vertical-align: middle;
	text-align: center;
}
table#tabela-tags td.tag{
	font-family: "Century Gothic";
	font-size: 12px;
	background-color:#606060;
	color:white;
	padding:8px;
	vertical-align: middle;
	text-align: center;
}
table#tabela-tags td.texto{
	font-family: "Century Gothic";
	font-size: 12px;
	background-color:#606060;
	color:white;
	padding:8px;
	vertical-align: middle;
	text-align: center;
}