body{
	background: url(brabo.JPG);
	background-repeat: no-repeat;
	background-size: 100%;	
}

.contentetv ul{
	list-style-type: circle;
	font-size: 16px;
}

.contentetv ul li a{
	font-size: 20px;
	text-decoration: none;
	color:blue;
}

.contentetv{
	float:left;
	width: 203px;
	height: 700px;
	background-color: #696969;	
}

.conteudo{
	text-align:center;
	height: 700px;
	background-color: #ff5cd9;
	width: 65%;
	margin: 0 350px;
}

.conteudo p {
	text-align: justify;
	padding: 10px;
}